@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
	--Red: hsl(0, 100%, 66%);
	--White: hsl(0, 0%, 100%);
	--Light-grayish-violet: hsl(270, 3%, 87%);
	--Dark-grayish-violet: hsl(279, 6%, 55%);
	--Very-dark-violet: hsl(278, 68%, 11%);
}

* {
	font-family: "Space Grotesk,", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

.hidden {
	display: none !important;
}

.container {
	display: flex;
	align-items: center;

}

.leftSide {
	min-height: 100vh;
	width: 40%;
	background-image: url("./images/bg-main-desktop.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.cards {
	position: absolute;
	top: 50%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	left: 100%;
	transform: translate(-50%, -50%);
}

.cardFront {
	position: relative;
	transform: translateX(-100px);
}

.cardLogo {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

#cardNumber {
	position: absolute;
	color: var(--White);
	bottom: 5rem;
	left: 1rem;
	letter-spacing: 2px;
}

.personalInfo {
	position: absolute;
	bottom: 2rem;
	left: 1rem;
	right: 3rem;
	display: flex;
	color: var(--White);
	justify-content: space-between;
}

.cardBack {
	position: relative;

}

#cvc {
	position: absolute;
	right: 3.5rem;
	top: 7rem;
	color: var(--White);
}

.error {
	border: 2px solid var(--Red);
}

.errorMessage {
	gap: 0;
}

.errorMessage::after {
	content: "cant be blank";
	color: var(--Red);
	margin-top: .2rem;
}

.rightSide {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.rightSide form {
	display: grid;
	gap: 1rem;
	width: 350px;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(4,1fr);
}

label {
	color: var(--Very-dark-violet);
	margin-bottom: .3rem;
	text-transform: uppercase;
}

input {
	padding: .5rem;
	font-size: 18px;
	border: 1px solid var(--Dark-grayish-violet);
	border-radius: 6px;
}

input::placeholder {
	font-family: inherit;
	color: var(--Dark-grayish-violet);
}

.nameInput {
	display: flex;
	flex-direction: column;
	grid-column: 2 span;
}

.numberInput {
	display: flex;
	flex-direction: column;
	grid-column: 2 span;
}

.cvc {
	display: flex;
	flex-direction: column;
	grid-column: 1 span;
}

.dateAndCvc {
	display: flex;
	grid-column: 2 span;
	gap: 1rem;
}

#cardDate {
	display: flex;
	flex-direction: column;
	grid-column: 1 span;
}

#cardDate .dateCvcInputs {
	display: flex;
}

.dateCvcInputs div{
	flex-direction: column;
}

#cardDate div input {
	width: 70px;
	margin-inline: 0 .5rem;
	margin-left: 0;
}

#cardCvc {
	width: 100%;

}

form button {
	grid-column: 2 span;
	font-size: 18px;
	height: 50px;
	color: var(--White);
	border-radius: 6px;
	background-color: var(--Very-dark-violet);
	cursor: pointer;
}

.thank {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.thank h1 {
	text-transform: uppercase;
	letter-spacing: 3px;
}

.thank p {
	font-size: 18px;
	color: var(--Dark-grayish-violet);
}

.thank button {
	color: var(--White);
	width: 100%;
	border-radius: 6px;
	padding: 1rem;
	font-size: 18px;
	background-color: var(--Very-dark-violet);
	cursor: pointer;
}

@media screen and (max-width: 1023px) {

	.cardFront, .cardFront img, .cardBack, .cardBack img {
		width: 300px;
	}
	.cardDetails .cardLogo {
		width: 50px;	
	}
	#cardNumber {
		font-size: 1.1rem;
	}
	#cvc {
		top: 42%;
		right: 12%;
	}
}

@media screen and (max-width: 767px) {

	.container {
		flex-direction: column;
	}
	.cardFront, .cardFront img, .cardBack, .cardBack img {
		width: 280px;
	}
	.leftSide {
		width: 100%;
		min-height: 30vh;
		background-image: url("./images/bg-main-mobile.png");
	}
	.cards {
		flex-direction: column-reverse;
		left: 61%;
		top: 60%;
		gap: 0;
	}
	.cardBack {
		transform: translateY(70px);
	}
	.cardFront{
		z-index: 100;
	}
	.rightSide {
		margin-top: 6rem;
	}
}





